<html>
    <body>
            <form action="/produtos/busca" method="post">

            <div>
                <label for="id">Titulo</label>
                <input type="text" id="id" name="id" placeholder="coloque o titulo"/>
            </div>
            <input type="submit" value="gravar"/>
        </form>

        <table>
            <tr>
                <td>id</td>
                <td>nome</td>
                <td>ncm</td>
                <td>preço</td>
            </tr>        
                <%for(var i=0;i<lista.length;i++) {%>
                    <tr>
                        <td><%=lista[i].id%></td>
                        <td><%=lista[i].nome%></td>
                        <td><%=lista[i].ncm%></td>
                        <td><%=lista[i].preco%></td>
                    </tr>
                <%}%>
            <tr>
            </tr>   
        </table>
    </body>
</html>